{{response.body}}
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Users</h4>
                        <p class="card-category"> Users of the system</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table *ngIf="users && users.length" class="table table-hover text-center">
                                <thead>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Username
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Options
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users">
                                        <td>{{user.id}}</td>
                                        <td>{{user.name}}</td>
                                        <td>{{user.username}}</td>
                                        <td>{{user.email}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="mx-auto" *ngIf="users && !users.length">
                                There are no users in the system.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>